.phone
  .top
    .camera
  .screen
    .pages
      .page.page1 
        h2 orange
        h1 橘
        .orange
      .page.page2
        h2 page2
        p 植物名。芸香科柑屬，小喬木或灌木。枝纖細有刺，葉狹長而尖，葉柄與葉片間有關節。花白色五瓣。秋天結果，果實亦稱為「橘」，呈圓形，果皮為黃綠色，果肉多汁，可以食用。果皮、種子、葉片等均可入藥。
      .page.page3
        h2 page3
        p 植物名。芸香科柑屬，小喬木或灌木。枝纖細有刺，葉狹長而尖，葉柄與葉片間有關節。花白色五瓣。秋天結果，果實亦稱為「橘」，呈圓形，果皮為黃綠色，果肉多汁，可以食用。果皮、種子、葉片等均可入藥。
  .bottom
    .button □
h3.status the best iphone we've ever made
h2.phonename iphone5
.buttons 
  button.i5 iphone5
  button.i5s iphone5+
  button.i6 iphone6
  button.i6s iphone6+
  button.wiggle wiggle
  button.turn turn around